<div>
  <h1>Let's take a look at the upcoming elections in your area!</h1>
  <div id="results">
    <p>The next election in your area is the <strong>{{description}}</strong>, which will take place on <strong>{{readableDate}}</strong>.</p>
    <p><a href="{{pollingPlace}}">Click here to find your polling place.</a></p>
    <p>Read more about the election at your <a href="{{website}}">local government's website</a>.</p>
  </div>
</div>
